*.dot
*.folded
*.log
*.profraw
.DS_Store
.cargo/
.repl.history
.zed/debug.json
/target
404.html
Terrminal-theme_color_ref_chat_Claude.txt
app.log
async_docs_report.txt
bank/derive_debug_alt1.rs
bank/derive_debug_alt2.rs
bank/derive_debug_alt3.rs
bank/derive_deluxe_expanded.rs
bank/excess_alloc_dealloc.rs
bank/ha.rs
bank/ho2.rs
bank/my_error*.rs
bank/temp.txt
bank/termbg_resp.rs
bank/tui_file_dialog2.rs
bank_tui_rs_stdin_history.json
debug_generate_tests.rs
demo/proc_macros/target
dhat-heap.json
flames/
hello.html
hist_debug.json
history.txt
install_thag_protocol.sh
my_rust_binary.log
obsolete/
profile.json
rs_stdin_history.json
test_output.log
test_phase2/target/
tests/assets/hist_staging.txt
thag_demo/*.svg
thag_profiler/README_orig.md
thag_profiler/README~.md
themes/built_in/none*.toml
themes/converted

*.svg
!*/.svg
base16_builder.py
base24_builder.py
thag_styling/themes/built_in/thag-sunset-light.toml
assets/Munch_The_Scream.png
thag_styling/themes/built_in/my_theme.toml
monet-woman-with-parasol.png
assets/botticelli-birth-of-venus.png
assets/munch-the-scream.png
assets/raphael-school-of-athens.png
sunset.png
exported_image_themes
exported_thag_vibrant_dark
exported_themes
claude/thag_styling_color_conversion_process.md
assets/base24-mbadolato-iterm2-color-schemes-master/
thag_styling/src/image_themes/mod copy.rs
thag_styling/themes/built_in/thag-munch-the-scream-new-light.toml
thag_styling/README copy.md
src/cli.rs
catppuccin-mocha.toml
thag_styling/themes/built_in/thag-monet-woman-with-parasol-dark.toml.backup
thag_styling/themes/built_in/catppuccin-mocha.toml.backup
demo.cast
demo1.cast
demo2.cast
thag_tui_demo.cast
thag_tui_demo.gif
x.txt
y.txt
