/target
.DS_Store
.cargo/
.cargo/build_run/Cargo.toml
src/gpt_clap_derive.rs
src/arg_cli.rs
src/gpt_clap.rs
src/my_script.rs
obsolete/
.cargo/build_run/Cargo.toml
examples/default_cargo.toml
examples/cargo_toml_stuff
examples/gpt_clap.rs
examples/y
examples/z
examples/repl_*.rs
examples/gemini_edit_in_place1.rs
examples/gemini_edit_in_place2.rs
examples/gemini_edit_in_place3.rs
examples/gemini_repl_orig.rs
examples/._in_place-YlxBQC
examples/tui_ta_minimal.rs
repl_000017.rs
