/target
.DS_Store
.cargo/
.cargo/build_run/Cargo.toml
src/gpt_clap_derive.rs
src/arg_cli.rs
src/gpt_clap.rs
src/my_script.rs
obsolete/
.cargo/build_run/Cargo.toml
examples/default_cargo.toml
examples/cargo_toml_stuff
examples/gpt_clap.rs
examples/y
examples/z
examples/cmd_args_bpaf_gem_bad.rs
